/*
 * Project: UPAVT
 * Author: Trever Hickey & Max Ackley
 * Date Modified: October 15, 2011 
 *
 * Description: CSS file for UPAVT website. 
 */

/*
 * Settings for overacrching html elements.
 */
html { height: 100% }
body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	clear: both;
	font-family: "Century Gothic";
	font-size: 10.5pt;
}
h1 { 
	text-align: center;
	color: #5f00aa;
}

/*
 * This container contains the entire html file.
 */
#container{
	height: 550px; 
	width: 1000px; 
	margin: 0 auto;
	padding-left: 0px; 
}

/*
 * This container contains the map and graph.
 */
#info { 
	float: left;
	width: 50%;
	height: 100%;
	margin-right: 5%;	
}

/*
 * This container contains all of the 
 */
#options { 
	float: left;
	width: 45%;
	height: 100%;
	background-color: #5f00aa;
	margin-bottom: 5px;
	color: #E5E5E5;
	vertical-align: middle;
}

/*
 * This container will contain the google map element
 */
#map {
    height: 325px;
}

/*
 * This container will contain the chart that will 
 * display when options are selected.
 */
.chart { 
	text-align: center;
	margin-top: 25px;
	padding-top: 2px;
	padding-left: 5px;	
	padding-right: 5px;
	height: 200px;
	width: 500px;
	background-color: #5f00aa;
	color: #E5E5E5;
}

/* 
 * Sets all drop down menus to the same size.
 * */
select {
	width: 120px;
	height: inherit;
}

/* Sets all elements in the sorterContainer class 
 * [the options to control the search of the webpage] 
 * to align to left and have a vertical margin between them.
 */
.sorterContainer {
	margin-left: 25px;
    margin-top: 20px;
    clear:left;       
}

/*
 * This section controls the Metrics options specially
 * because it is formatted with internal containers.
 */

/*
 * Sets the radio buttons container to align left.
 */
.radioButtons {
	float: left;
}

/*
 * Centers, positions submit button within options container.
 */
#submitButton {
	margin-top: 30px;
	text-align: center;
}

/*
 * Sets the "Help" and "About us" buttons to align right.
 */
#theEnd {
	text-align: right;
}

/*
 * This sets the text label container to align left.
 */
.label {
	float: left;
}

/*
 * Sets the drop down container to align left
 */
.dropDownMenu {
	float: left;
}

/*
 * Sets the position and size for the UP logo.
 */
#logo {
	position: absolute;
	top: 5px;
	left: 360px;
}

/*
 * Aligns location drop down menu to center of the options container.
 */
.locationDropMenu {
	text-align: center;
}

/*
 * Sets the bar labels of the chart to float left so they align.
 */
.barLabel div {
	float: left;
}

/*
 * Specifies the look of the bars in the bar chart.
 */
.bar div {
    background-color: #E5E5E5;
    margin-right: 1px;
    margin-left: 1px;
    padding-top: 2px;
    font-size: 12pt;
	font-weight: bold;
    float: left;
	color: #5f00aa;
}

/*
 * Bolds and adds a margin to the title of the bar chart.
 */
.chart span {
	font-weight: bold;
	padding-top: 5px;
}

