html { height: 100% }
body { height: 100%; margin: 0; padding: 0; clear: both; }
h1 { text-align: center;}

#container{ height: 100%; width: 1000px; margin: 0 auto}

#map {
    float: left;  
    width: 450px;
    height: 50%;
}

.chart {
    float: right;  
    width: 420px;
    height:100%;
    margin-left: 50px; 
}


.label div {
    padding: 1px;
    margin-right: 20px;
    margin: 1px;
    font-size: 10pt;
}

.bar div {
    background-color: steelblue;
    text-align: left;
    padding: 1px;
    padding-left: 2px;
    margin: 1px;
    color: white;
    font-size: 10pt;
    clear: both;
}

.labels div {
    width: 200px;
    float: left;
}

.info div {
    width: 150px;
    float: right;
}

.chart span {
    font-weight: bold;
}